:root {
  --main-bg-color: #12263A;
  --maximum-blue-green: #06BCC1;
  --player-tiles: #C5D8D1;
}

html {
  background: var(--main-bg-color);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

button {
  border-radius: 100px;
  outline: none;
  border: none;
  box-shadow: none;
  padding: 10px;
  font-size: 1rem;
  margin: 20px;
}

.App {
  background: var(--maximum-blue-green);
  padding: 20px;
  text-align: center;
  border-radius: 30px;
}

.Players {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.IndividualScore {
  background: var(--player-tiles);
  border-radius: 30px;
  padding: 20px;
  margin: 10px;
}

.PlayerName {
  min-width: 20vw;
}

.Game-Controls {
  margin: 50px;
}

